<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MUSTACHE</title>
 <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-info">
<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <p class="navbar-brand">Mustache Blog</p>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/blog">Blog Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

<main class="container container-fluid mt-5">
    {{{ body }}}
  </main>


  <script src="/js/logout.js"></script>
</body>
</html>