<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Welcome to Mustache</h2>
          <p>This page is a blogsite for insertCompany LLC. All active employees please use your company login to access the site. Interviewers may use username: Admin@admin.com, password: admin</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Rules to live by</h2>
          <ol>
            <li>Please watch your language in this blog</li>
            <li>Keep it work related. Anything outside of worked will be closely examined. A possible reprimand will be insued by someone if rules are not abided by.</li>
            <li>Keep it PG-13 please</li>
            <li>hHave fun and enjoy the blog with everyone thank you</li>
          </ol>
        </div>
      </div>