<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Welcome to the EMP Blog</h2>
          <p>This page is a blogsite for insertCompany LLC. All active employees please use your company login to access the site. Interviewers may use username: Admin@admin.com, password: admin</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Ground rules for employees</h2>
          <ol>
            <li>No swearing on blogposts</li>
            <li>try to keep blogposts work related. non work related blogposts will be checked and monitered by HR. so if you don't want a meeting with Kelly, keep it about work</li>
            <li>no sexual content is allowed on the blogsite</li>
            <li>have fun talking about current projects with your coworkers in this company monitered space</li>
          </ol>
        </div>
      </div>